stages:
  - build
  - test
  - publish
  - trigger_prep
  - trigger

include:
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-golang-lint.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-github-status-updates.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-commits.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-license.yml"

cache:
  paths:
    - /go/src/github.com
    - /go/src/golang.org
    - /go/src/google.golang.org
    - /go/src/gopkg.in

variables:
  DEFAULT_BRANCH: "master"
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_REPOSITORY: mendersoftware/mender-artifact
  S3_BUCKET_NAME: "mender"
  S3_BUCKET_PATH: "mender-artifact"
  DOCKER_BUILDKIT: 1
  INSTALL_BREW:
    value: false
    description: |
      Run a job to install and test mender-artifact
      with brew from upstream.


.requires-docker: &requires-docker
  - DOCKER_RETRY_SLEEP_S=2
  - DOCKER_RUNNING=false
  - for try in 4 3 2 1; do
  -  docker ps && DOCKER_RUNNING=true
  -  if [ "${DOCKER_RUNNING}" == "true" ]; then
  -   break
  -  fi
  -  sleep "${DOCKER_RETRY_SLEEP_S}"
  - done
  - if [ "${DOCKER_RUNNING}" != "true" ]; then
  -  exit 192
  - fi

.build:base:
  before_script:
    - *requires-docker
  retry:
    max: 2
    exit_codes:
      - 137
      - 192
      - 125

test:check-license-source:
  variables:
    LICENSE_HEADERS_IGNORE_FILES_REGEXP: './artifact/keyfactor/\(signer\|signer_test\)\.go'

build:docker:
  image: docker
  extends: .build:base
  needs: []
  services:
    - docker:dind
  stage: build
  script:
    - docker build -t $DOCKER_REPOSITORY:pr .
    - docker save $DOCKER_REPOSITORY:pr > image.tar
  artifacts:
    expire_in: 2w
    paths:
      - image.tar
  tags:
    - gitlab-org-docker

build:make:
  image: docker
  extends: .build:base
  needs: []
  services:
    - docker:dind
  before_script:
    - apk add --no-cache make
  stage: build
  script:
    - make build-natives-contained
  artifacts:
    expire_in: 2w
    paths:
      - mender-artifact-*
  tags:
    - mender-qa-worker-generic
  variables:
    # DinD setup in Mender CI runners
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_VERIFY: "1"
    DOCKER_TLS_CERTDIR: "/certs"

build:coverage:
  stage: build
  extends: .build:base
  image: docker
  needs: []
  services:
    - docker:dind
  before_script:
    - apk add --no-cache make
    - make instrument-binary-contained
  script:
    - make build-contained
    - mv mender-artifact mender-artifact-linux-coverage
  artifacts:
    expire_in: 2w
    paths:
      - mender-artifact-linux-coverage

test:smoketests:mac:
  stage: test
  image: docker
  needs:
    - job: build:make
      artifacts: true
  before_script:
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-darwin
  script:
    - touch test.txt
    - ./mender-artifact-darwin
    - ./mender-artifact-darwin --version
    - ./mender-artifact-darwin write module-image -t test -o test.mender -T script -n test -f test.txt
    - ./mender-artifact-darwin read test.mender
    - ./mender-artifact-darwin validate test.mender
    - ./mender-artifact-darwin write rootfs-image -t test -o test-rfs.mender -n test -f test.txt
    - ./mender-artifact-darwin read test-rfs.mender
    - ./mender-artifact-darwin validate test-rfs.mender
    - ./mender-artifact-darwin validate --key tests/data/ec.pem tests/data/a0-signed-nitro.mender
    - ./tests/test_compressions/test_supported_compressions.sh
    - make build
  tags:
    - mac-runner

test:smoketests:linux:
  stage: test
  image: debian:bullseye-slim
  needs:
    - job: build:make
      artifacts: true
  before_script:
    - apt-get update && apt-get install -q -y make liblzma-dev libssl-dev jq wget
    # yq no longer has a maintained debian repo so we fall back on the GitHub release as the source
    - wget -q https://github.com/mikefarah/yq/releases/download/v4.44.2/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh --setup
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-linux
  script:
    - touch test.txt
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh
    - ./mender-artifact-linux
    - ./mender-artifact-linux --version
    - ./mender-artifact-linux write module-image -t test -o test.mender -T script -n test -f test.txt
    - ./mender-artifact-linux read test.mender
    - ./mender-artifact-linux validate test.mender
    - ./mender-artifact-linux write rootfs-image -t test -o test-rfs.mender -n test -f test.txt
    - ./mender-artifact-linux read test-rfs.mender
    - ./mender-artifact-linux validate test-rfs.mender
    - ./mender-artifact-linux validate --key tests/data/ec.pem tests/data/a0-signed-nitro.mender
    - test $(./mender-artifact-linux read --no-progress test-rfs.mender | yq eval -o json | jq -r '."Mender Artifact".Name') == "test"
    - ./tests/test_compressions/test_supported_compressions.sh
    # QA-507: lock mender-artifact to OpenSSL 1.1
    - ldd ./mender-artifact-linux | grep libssl.so.1.1

test:coverage:linux:
  stage: test
  image: debian:bullseye-slim
  needs:
    - job: build:coverage
      artifacts: true
  variables:
    COVERAGE_FILE: coverage-linux-pkcs.txt
  before_script:
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh --setup
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-linux-coverage
  script:
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh
  after_script:
    - set -- /tmp/coverage-artifact*.out
    - head -n 1 $1 > ${COVERAGE_FILE}
    - |
      for cover in $@; do
        tail -n +2 $cover >> ${COVERAGE_FILE}
      done
  artifacts:
    expire_in: 2w
    untracked: true
    paths:
      - ${COVERAGE_FILE}

.test:unit:
  stage: test
  image: golang:1.23-bullseye
  needs: []
  script:
    - make coverage
    - mv coverage.txt $CI_PROJECT_DIR/$COVERAGE_FILE
  artifacts:
    expire_in: 2w
    untracked: true
    paths:
      - $COVERAGE_FILE

test:unit:linux:
  extends: .test:unit
  variables:
    COVERAGE_FILE: coverage-linux.txt
  before_script:
    - apt-get update && apt-get install --quiet --assume-yes
      git make bash dosfstools e2fsprogs gcc mtools musl-dev parted xz-utils libssl-dev

test:unit:mac:
  extends: .test:unit
  variables:
    COVERAGE_FILE: coverage-mac.txt
    # This is needed because the host is reusing the workdir, it is not a Docker
    # runner.
    GIT_STRATEGY: clone
  tags:
    - mac-runner

# Test that we can build with the golang version of the oldest supported yocto LTS release
# MEN-8141: We don't support yocto kirkstone due to libraries requirements for new features
test:backwards-compatibility:
  image: golang:1.22.12-bullseye
  needs: []
  before_script:
    - apt-get update && apt-get install --quiet --assume-yes libssl-dev
  script:
    - go build

test:install:brew:
  stage: test
  tags:
    - mac-runner
  script:
    # Reinstall in case we already have mender-artifact
    - brew reinstall mender-artifact
    - brew test mender-artifact
  after_script:
    # Uninstall because the mac-runner is
    # not a container, so installations persist between jobs
    - brew uninstall mender-artifact
  rules:
    - if: $INSTALL_BREW == "true"

test:build:brew:
  # TODO: create a CI/CD component for brew build checks as in https://github.com/mendersoftware/mendertesting/pull/367 [MEN-8436]
  stage: test
  tags:
    - mac-runner
  needs: []
  before_script:
    - brew install gnu-sed
  script:
    - TEMP_BUILD_DIR="$(mktemp -d /tmp/brew_build_XXXXXX)"
    - cd "$TEMP_BUILD_DIR"
    # 1. get the custom download strategy for brew so that we can fetch a PR revision from GH
    # TODO: use a better location (mendertesting, together with the component?) [MEN-8436]
    - wget -O mender-artifact.rb https://gist.github.com/vpodzime/f0171f1ce8d914d29b5fbb1d8ab607c1/raw/e4340ecfc6e75abb770d09c3514979dfa8e128c6/gh_pr_brew_dl_strategy.rb
    - echo >> mender-artifact.rb # Make sure there's a newline after download strategy class
    # 2. fetch the upstream brew formula
    - wget -O mender-artifact_upstream.rb https://github.com/Homebrew/homebrew-core/raw/refs/heads/master/Formula/m/mender-artifact.rb
    # 3. adapt the formula to use the PR revision instead of a release tarball
    - |
        gsed -e /sha256/d -e '/url /s|".*"|"https://github.com/mendersoftware/mender-artifact.git",|' -e "/url \"https/a\ \ \ \ revision: \"${CI_COMMIT_SHA}\",\n    using: GitHubPRDownloadStrategy\n  version \"1234\"" < mender-artifact_upstream.rb >> mender-artifact.rb
    # 4. run brew build and test
    - HOMEBREW_NO_INSTALL_FROM_API=1 brew reinstall --build-from-source --verbose --debug --formula ./mender-artifact.rb
    - brew test ./mender-artifact.rb
  after_script:
    - brew remove mender-artifact
    - rm -rf "$TEMP_BUILD_DIR"

publish:tests:
  stage: publish
  image: golang:1.23
  needs:
    - job: test:unit:linux
      artifacts: true
    - job: test:unit:mac
      artifacts: true
    - job: test:coverage:linux
      artifacts: true
  variables:
    COVERALLS_WEBHOOK_URL: "https://coveralls.io/webhook"
    COVERALLS_RERUN_BUILD_URL: "https://coveralls.io/rerun_build"
  before_script:
    - go install github.com/mattn/goveralls@v0.0.12
    # Coveralls env variables:
    #  According to https://docs.coveralls.io/supported-ci-services
    #  we should set CI_NAME, CI_BUILD_NUMBER, etc. But according
    #  to goveralls source code (https://github.com/mattn/goveralls)
    #  many of these are not supported. Set CI_BRANCH, CI_PR_NUMBER,
    #  and pass few others as command line arguments.
    #  See also https://docs.coveralls.io/api-reference
    - export CI_BRANCH=${CI_COMMIT_BRANCH}
    - export CI_PR_NUMBER=${CI_COMMIT_BRANCH#pr_}
  script:
    - if [[ -f coverage-linux.txt && -f coverage-linux-pkcs.txt ]]; then tail -n +2 coverage-linux-pkcs.txt >> coverage-linux.txt; fi
    # Submit coverage from all platforms.
    - for PLATFORM in linux mac; do
    - goveralls
      -repotoken ${COVERALLS_TOKEN}
      -service gitlab-ci
      -jobid $CI_PIPELINE_ID
      -parallel
      -covermode set
      -flagname unittests:$PLATFORM
      -coverprofile coverage-$PLATFORM.txt
    - done
    # Finalize the report
    - 'curl -k ${COVERALLS_WEBHOOK_URL}?repo_token=${COVERALLS_TOKEN} -d "payload[build_num]=$CI_PIPELINE_ID&payload[status]=done"'
    - 'curl -k "${COVERALLS_RERUN_BUILD_URL}?repo_token=${COVERALLS_TOKEN}&build_num=${CI_PIPELINE_ID}"'

publish:s3:
  stage: publish
  image: debian:bookworm-slim
  rules:
    # Publish for build and final tags + default and maintenance branches
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-build\d+$/'
    - if: '$CI_COMMIT_BRANCH =~ /^\d+\.\d+\.x$/'
    - if: $CI_COMMIT_BRANCH == $DEFAULT_BRANCH
  needs:
    - job: build:make
      artifacts: true
    - job: test:smoketests:mac
  before_script:
    - apt update && apt install -yyq awscli
  script:
    - for bin in mender-artifact-darwin mender-artifact-windows.exe; do
      platform=${bin#mender-artifact-};
      platform=${platform%.*};
      echo "Publishing ${CI_COMMIT_REF_NAME} version for ${platform} to S3";
      aws s3 cp ${bin}
      s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/${platform}/mender-artifact;
      aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
      --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/${platform}/mender-artifact;
      done
