stages:
  - build
  - test
  - publish
  - trigger_prep
  - trigger

include:
  - project: Northern.tech/Mender/mendertesting
    file:
      - qa-common/runner.yml
      - qa-common/retry.yml
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-golang-lint.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-github-status-updates.yml"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/commit-lint@master
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-license.yml"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/brew-build@master
    inputs:
      formula: "m/mender-artifact.rb"

  # Release CI/CD components
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-candidate@master
    inputs:
      github_repo: mendersoftware/mender-artifact
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-mender-docs@master
    inputs:
      component: mender-artifact
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-dist-packages@master
    inputs:
      package: MENDER_ARTIFACT
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-compass@master
    inputs:
      compass_component_id: "3a6f19a5-306f-4900-93f6-c2e953eac6e8"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-oslicenses-golang@master
    inputs:
      remote_license_file: "302.Release-information/03.Open-source-licenses/30.mender-artifact/docs.md"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-docs-changelog@master
    inputs:
      remote_changelog_file: "30.mender-artifact/docs.md"

default:
  tags: !reference [.qa-common-default-runner, tags]
  retry: !reference [.qa-common-default-retry, retry]

cache:
  paths:
    - /go/src/github.com
    - /go/src/golang.org
    - /go/src/google.golang.org
    - /go/src/gopkg.in

variables:
  DEFAULT_BRANCH: "master"
  S3_BUCKET_NAME: "mender"
  S3_BUCKET_PATH: "mender-artifact"
  DOCKER_BUILDKIT: 1
  INSTALL_BREW:
    value: false
    description: |
      Run a job to install and test mender-artifact
      with brew from upstream.

.build:base:
  before_script:
    - make get-build-deps
  retry:
    max: 2
    exit_codes:
      - 137
      - 192
      - 125

test:check-license-source:
  variables:
    LICENSE_HEADERS_IGNORE_FILES_REGEXP: './artifact/keyfactor/\(signer\|signer_test\)\.go'

build:make:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.25-trixie
  extends: .build:base
  needs: []
  stage: build
  script:
    - make build-natives
  artifacts:
    expire_in: 2w
    paths:
      - mender-artifact-*

build:coverage:
  stage: build
  extends: .build:base
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.25-trixie
  needs: []
  before_script:
    - make get-build-deps
  script:
    - make build-cover
    - mv mender-artifact mender-artifact-linux-coverage
  artifacts:
    expire_in: 2w
    paths:
      - mender-artifact-linux-coverage

test:smoketests:mac:
  stage: test
  needs:
    - job: build:make
      artifacts: true
  before_script:
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-darwin
  script:
    - touch test.txt
    - ./mender-artifact-darwin
    - ./mender-artifact-darwin --version
    - ./mender-artifact-darwin write module-image -c test -o test.mender -T script -n test -f test.txt
    - ./mender-artifact-darwin read test.mender
    - ./mender-artifact-darwin validate test.mender
    - ./mender-artifact-darwin write rootfs-image -c test -o test-rfs.mender -n test -f test.txt
    - ./mender-artifact-darwin read test-rfs.mender
    - ./mender-artifact-darwin validate test-rfs.mender
    - ./mender-artifact-darwin validate --key tests/data/ec.pem tests/data/a0-signed-nitro.mender
    - ./tests/test_compressions/test_supported_compressions.sh
    - make build
  tags:
    - mac-arm-runner

test:smoketests:linux:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:trixie-slim
  needs:
    - job: build:make
      artifacts: true
  before_script:
    - !reference [.qa-common-network-apt-retry, before_script]
    - apt-get update && apt-get install -q -y make liblzma-dev libssl-dev jq wget
    # yq no longer has a maintained debian repo so we fall back on the GitHub release as the source
    - wget -q https://github.com/mikefarah/yq/releases/download/v4.44.2/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh --setup
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-linux
  script:
    - touch test.txt
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh
    - ./mender-artifact-linux
    - ./mender-artifact-linux --version
    - ./mender-artifact-linux write module-image -c test -o test.mender -T script -n test -f test.txt
    - ./mender-artifact-linux read test.mender
    - ./mender-artifact-linux validate test.mender
    - ./mender-artifact-linux write rootfs-image -c test -o test-rfs.mender -n test -f test.txt
    - ./mender-artifact-linux read test-rfs.mender
    - ./mender-artifact-linux validate test-rfs.mender
    - ./mender-artifact-linux validate --key tests/data/ec.pem tests/data/a0-signed-nitro.mender
    - test $(./mender-artifact-linux read --no-progress test-rfs.mender | yq eval -o json | jq -r '."Mender Artifact".Name') == "test"
    - ./tests/test_compressions/test_supported_compressions.sh

test:coverage:linux:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.25-trixie
  needs:
    - job: build:coverage
      artifacts: true
  variables:
    COVERAGE_FILE: coverage-linux-pkcs.txt
    GOCOVERDIR: coverage
  before_script:
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh --setup
    - export TEST_MENDER_ARTIFACT_PATH=./mender-artifact-linux-coverage
    - mkdir --parents ${GOCOVERDIR}
  script:
    - ./tests/test_sign_with_hsm/test_sign_with_hsm.sh
    - go tool covdata textfmt -i ${GOCOVERDIR} -o ${COVERAGE_FILE}
  artifacts:
    expire_in: 2w
    untracked: true
    paths:
      - ${COVERAGE_FILE}

.test:unit:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.25-trixie
  needs: []
  script:
    - make coverage
    - mv coverage.txt $CI_PROJECT_DIR/$COVERAGE_FILE
  artifacts:
    expire_in: 2w
    untracked: true
    paths:
      - $COVERAGE_FILE

test:unit:linux:
  extends: .test:unit
  variables:
    COVERAGE_FILE: coverage-linux.txt
  before_script:
    - !reference [.qa-common-network-apt-retry, before_script]
    - apt-get update && apt-get install --quiet --assume-yes
      git make bash dosfstools e2fsprogs gcc mtools musl-dev parted xz-utils libssl-dev

test:unit:mac:
  extends: .test:unit
  # Override image since mac-arm-runner is a shell executor, not Docker
  image: null
  variables:
    COVERAGE_FILE: coverage-mac.txt
    # This is needed because the host is reusing the workdir, it is not a Docker
    # runner.
    GIT_STRATEGY: clone
  tags:
    - mac-arm-runner
  before_script:
    # fsck.ext4 is required for the tests
    # From some reason brew does not installed e2fsprogs
    # correct and has not created valid links. This is the reason
    # why we are forcing to reinstall it
    - brew reinstall e2fsprogs
  after_script:
    # we want a clean environment on the runner for testing `brew install
    # mender-artifact` (which pulls `e2fsprogs`, among others, as a dependency)
    # XXX: brew is broken right now so we need to leave this in place for `brew
    #      test mender-artifact` to work
    # - brew remove e2fsprogs

# Test that we can build with the golang version of the oldest supported yocto LTS release
# MEN-8141: We don't support yocto kirkstone due to libraries requirements for new features
test:backwards-compatibility:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.22.12-bullseye
  needs: []
  before_script:
    - !reference [.qa-common-network-apt-retry, before_script]
    - apt-get update && apt-get install --quiet --assume-yes libssl-dev
  script:
    - go build

test:install:brew:
  stage: test
  tags:
    - mac-arm-runner
  before_script:
    # These are genuine dependencies, but somehow brew doesn't install them
    # automatically for `brew test` below.
    - brew install ca-certificates openssl@3
  script:
    # Reinstall in case we already have mender-artifact
    - brew reinstall mender-artifact
    # Refresh cache for new versions
    - brew update
    - brew test mender-artifact

publish:tests:
  stage: publish
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.25
  needs:
    - job: test:unit:linux
      artifacts: true
    - job: test:unit:mac
      artifacts: true
    - job: test:coverage:linux
      artifacts: true
  variables:
    COVERALLS_WEBHOOK_URL: "https://coveralls.io/webhook"
    COVERALLS_RERUN_BUILD_URL: "https://coveralls.io/rerun_build"
  before_script:
    - go install github.com/mattn/goveralls@v0.0.12
    # Coveralls env variables:
    #  According to https://docs.coveralls.io/supported-ci-services
    #  we should set CI_NAME, CI_BUILD_NUMBER, etc. But according
    #  to goveralls source code (https://github.com/mattn/goveralls)
    #  many of these are not supported. Set CI_BRANCH, CI_PR_NUMBER,
    #  and pass few others as command line arguments.
    #  See also https://docs.coveralls.io/api-reference
    - export CI_BRANCH=${CI_COMMIT_BRANCH}
    - export CI_PR_NUMBER=${CI_COMMIT_BRANCH#pr_}
  script:
    - if [[ -f coverage-linux.txt && -f coverage-linux-pkcs.txt ]]; then tail -n +2 coverage-linux-pkcs.txt >> coverage-linux.txt; fi
    # Submit coverage from all platforms.
    - for PLATFORM in linux mac; do
    - goveralls
      -repotoken ${COVERALLS_TOKEN}
      -service gitlab-ci
      -jobid $CI_PIPELINE_ID
      -parallel
      -covermode set
      -flagname unittests:$PLATFORM
      -coverprofile coverage-$PLATFORM.txt
    - done
    # Finalize the report
    - 'curl -k ${COVERALLS_WEBHOOK_URL}?repo_token=${COVERALLS_TOKEN} -d "payload[build_num]=$CI_PIPELINE_ID&payload[status]=done"'
    - 'curl -k "${COVERALLS_RERUN_BUILD_URL}?repo_token=${COVERALLS_TOKEN}&build_num=${CI_PIPELINE_ID}"'

publish:s3:
  stage: publish
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:bookworm-slim
  rules:
    # Publish for build and final tags + default and maintenance branches
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-build\d+$/'
    - if: '$CI_COMMIT_BRANCH =~ /^\d+\.\d+\.x$/'
    - if: $CI_COMMIT_BRANCH == $DEFAULT_BRANCH
  needs:
    - job: build:make
      artifacts: true
  before_script:
    - !reference [.qa-common-network-apt-retry, before_script]
    - apt update && apt install -yyq awscli
  script:
    - echo "Publishing ${CI_COMMIT_REF_NAME} version for windows to S3";
      aws s3 cp mender-artifact-windows.exe
      s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/windows/mender-artifact;
      aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
      --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/windows/mender-artifact;
