language: go

# Golang version matrix
go:
    - 1.7
    - tip

before_install:
    - go get ./...

install:
    # Get tools used in Makefile
    - make get-tools

before_script:
    # Print build info.
    - echo $TRAVIS_COMMIT
    - echo $TRAVIS_TAG
    - echo $TRAVIS_BRANCH
    - echo $TRAVIS_BUILD_NUMBER
    - echo $TRAVIS_REPO_SLUG

    - make extracheck

script:
    - make coverage

    - make

after_success:
    # Integrate with https://codecov.io
    - bash <(curl -s https://codecov.io/bash)

deploy:
    provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $AWS_BUCKET
    region: $AWS_REGION
    upload-dir: $TRAVIS_BRANCH/$TRAVIS_GO_VERSION
    skip_cleanup: true
    acl: $AWS_S3_ACL
    on:
        tags: true
        all_branches: true
